.main{
	height: 1000px;
}
.ustmerkez{
	height: 134px;
	width: 660px;
}
.ustmerkez h1{
	margin:0px;
	color: white;
	font-size: 20px;
	margin-left: 30px;
	margin-top: 30px;
}
.ustmerkez h2{
	color: white;
	font-size: 18px;
	margin-left: 30px;
	margin-top: 5px;
}
.registration{
	padding-top: 20px;
	background-color: rgb(13,61,120);
	height: 500px;
	width: 467px;
	margin-left: 39px;
	color: white;
}
.registration p{
    display: inline-block;
    margin-left: 40px;
}
.name4{
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;
}
.registration input{
    
    
}
.feed{
    border: 0px;
    margin-left: 150px;
    background-color: rgb(7,54,107);
    color: white;
}
.tex1{height: 30px;
    margin-left: 45px;
    width: 265px;
    background-color: rgb(7,54,107);
    border: 0px;
    color: white;
}
.tex2{height: 30px;
    margin-left: 65px;
    width: 265px;
    background-color: rgb(7,54,107);
    border: 0px;
    color: white;
}
.tex3{height: 30px;
    margin-left: 60px;
    margin-bottom: 20px;
    width: 265px;
    background-color: rgb(7,54,107);
    border: 0px;
    color: white;
}
.button1{
	background-color: rgb(20,145,193);
    border: 0px;
    color: white;
    width: 65px;
    height: 30px;
    margin-left: 150px;
    margin-top: 20px;
}
.adress01, .adress02{
	width: 295px;
	height: 315px;
	border: 1px solid gray;
	float: left;
	text-align: center;
}
.adress01 h1, .adress02 h1{
	padding: 0px;
	margin: 0px;
	font-size: 30px;
	color: rgb(20,145,193);
	margin-top: 30px;
}
.adressp{
	padding: 0px;
	margin: 0px;
	margin-top: 40px;
	color: white;
}
.adressp1{
	padding: 0px;
	margin:0px;
	margin-top: 10px;
	color: white;
}
.phoneadress{
	padding: 0px;
	margin:0px;
	margin-top: 35px;
	color: white;
}
.emailadress{
	color: white;
	margin-top: 20px;
}
.emailadress span{
	color: rgb(15,132,164);
}